* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
*.html linguist-vendored=true

public/assets/* linguist-vendored
public/bower_components/* linguist-vendored


CHANGELOG.md export-ignore
