* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
*.html linguist-vendored
public/assets/* linguist-vendored
public/assets/libs/flot/examples/* linguist-vendored
CHANGELOG.md export-ignore
